@import "tailwindcss";

@theme {
  --color-background: #090b10;
  --color-card: #131722;
  --color-primary: #44f3d0;
  --color-success: #21d969;
  --color-danger: #ff5b6e;
  --color-text: #f8fafc;
  --color-text-secondary: #98a4b7;
}

body {
  background:
    radial-gradient(
      1200px 450px at 50% -150px,
      rgba(68, 243, 208, 0.08),
      transparent
    ),
    radial-gradient(
      600px 300px at 20% 20%,
      rgba(56, 189, 248, 0.06),
      transparent
    ),
    var(--color-background);
}

button {
  transition: 0.2s ease;
}
